<html>
	<title></title>
	<head></head>
	<body>
	<script type="text/javascript">
        $(document).ready(function(){
        	$(document).ready(function() {
                $("#slideshow").css("overflow", "hidden");
                $("ul#slides").cycle({
                    fx: 'fade',
                    pause: 1,
                    prev: '#prev',
                    next: '#next',
                    speed: 1000
                });
                
                $("#slideshow").hover(function() {
    	           $("ul#nav").fadeIn();
    	        },
    		    function() {
    	           $("ul#nav").fadeOut();
    	        });
            });
        });
    </script>
		<div class="banner">
			<div id="slideshow">
				<ul id="nav">
                    <li id="prev"><a href="#">Previous</a></li>
                    <li id="next"><a href="#">Next</a></li>
                </ul>
			    <ul id="slides">
			        <li><?php echo $this->Html->image(__('welcome.jpg'), array('class'=> 'lazy', 'alt' => 'welcome')); ?></li>
			        <li><?php echo $this->Html->image(__('web_application.png'), array('class'=> 'lazy', 'alt'=> 'banner_web_application'));?></li>
			        <li><?php echo $this->Html->image(__('mobile_apps.png'), array('class'=> 'lazy', 'alt'=> 'banner_mobile'));?></li>
			        <li><?php echo $this->Html->image(__('consulting.png'), array('class'=> 'lazy', 'alt'=> 'banner_consulting'));?></li>
			    </ul>
		    </div>
		</div>	
		<div class="news_content">
	        <ul class="content_application">         
	            <li class="application1">
	            	<a href=""><?php echo $this->Html->image('icon_application1.png', array('class'=> 'lazy', 'alt'=> 'icon_application1'));?></a>
					<div class="title_content1">
						<?php echo __('Nội dung số');?>
					</div>
                    <div class="info_content1">
                        <?php
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            
                        ?>
                    </div>
	            </li>
	            <li class="application2">
	            	<a href=""><?php echo $this->Html->image('icon_application2.png', array('class'=> 'lazy', 'alt'=> 'icon_application2'));?></a>
					<div class="title_content2">
						<?php echo __('Ứng dụng Web'); ?>
					</div>
                    <div class="info_content2">
                        <?php
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            
                        ?>
                    </div>
	            </li>
	            <li class="application3">
	            	<a href=""><?php echo $this->Html->image('icon_application3.png', array('class'=> 'lazy', 'alt'=> 'icon_application3'));?></a>
					<div class="title_content2">
						<?php echo __('Ứng dụng Web'); ?>
					</div>
                    <div class="info_content2">
                        <?php
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            
                        ?>
                    </div>
	            </li>
	            <li style="margin-top: 50px;">
					<a href=""><?php echo $this->Html->image('icon_application4.png', array('class'=> 'lazy', 'alt'=> 'icon_application4'));?></a>
					<div class="title_content4" >
						<?php echo __('Ứng dụng Mobile'); ?>
					</div>
                    <div class="info_content4">
                        <?php
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            echo __('Lên kế hoạch làm việc');
                            echo '<br>' ;
                            
                        ?>
                    </div>
	            </li>
	        </ul>
		</div>
		<div class="clear"></div>
		<div class="processes">
			<div class="row_processes">
				<?php echo $this->Html->image('row_processes.png', array('style' => ' margin-top: 50px;'));?>
			</div>
			<div class="info_processes">
				<?php
					echo $this->Html->image('processes.png',array('style' => 'margin-top: 37px;'));
					echo $this->Html->image('row_end_processes.png',array('style' => 'margin-top: 20px;'));
				?>
			</div> 
		</div>
		<div class="clear"></div>
		<div class="jvb">
			<?php 
					echo $this->Html->image('row_jvb.png', array('style' => ' margin-top: 50px;'));
					echo $this->Html->image('jvb_info.png', array('style' => 'margin-top: -5px;'));
					
			?>
		</div>
		<div class="clear"></div>
		<div class="case_study">
				<?php 
					echo $this->Html->image('row_casestudy.png', array('style' => 'margin-top: 50px;'));
				?>
			<div class="case_info">
				<div class="image_case2">
					<?php echo $this->Html->image('image_case1.png');?>
				</div>
				<div class="case">
					<div class="news_case"><?php echo __('Full Project / Labo');?></div>
					<div class="info_case"><?php echo __('Giới thiệu tóm tắt về case study full project, labo...');?></div>
					<div class="icon_see_more"><?php echo $this->Html->image('icon_seemore.png') ;?></div>
					<div class="see_more"><a href="" style="color: #585858;"><?php echo __('Xem Thêm') ;?></a></div>
				</div>
				<div class="row_casestudy"><?php echo $this->Html->image('row_in_case.png');?></div>
				<div class="image_case2" ><?php echo $this->Html->image('image_case2.png');?></div>
				<div class="case2">
					<div class="news_case"><?php echo __('Web / Smartphone Application');?></div>
					<div class= "info_case">
						<?php echo __('Giới thiệu tóm tắt về case sutdy web, smart - phone application...');?>
					</div>
					<div class="icon_see_more"><?php echo $this->Html->image('icon_seemore.png') ;?></div>
					<div class="see_more"><a href="" style="color: #585858;"><?php echo __('Xem Thêm') ;?></a></div>
				</div>
				<?php echo $this->Html->image('row_end_processes.png',array('style' => 'margin-top: 20px;'));?>
			</div>
		</div>
		<div class="clear"></div>
		<div class="news">
			<div class="row_news_image"><?php echo $this->Html->image('row_news.png') ; ?></div>
			<div class="image_news"><?php echo $this->Html->image('image_news.png') ; ?></div>
			<div class="title_news"><a href="" style="color: #585858;"><?php echo __('Tuyển phiên dịch viên tiếng Nhật - 26/05/2015 ') ; ?></a></div>
			<div class="info_news"><?php echo __('Công ty JVB Việt Nam đang có nhu cầu tuyển phiên dịch viên tiếng Nhật có trình độ tương đương N2. . .');?></div>
			<ul class="recruitment">
				<li class="li1"><a href="" style="color: #585858;">Tuyển phiên dịch viên tiếng nhật</a></li>
				<li class="li1"><a href="" style="color: #585858;">Tuyển phiên dịch viên tiếng nhật</a></li>
				<li class="li1"><a href="" style="color: #585858;">Tuyển phiên dịch viên tiếng nhật</a></li>
			</ul>
			<div class="see_more1"><a href="" style="color: #585858;"><?php echo __('Xem Thêm') ;?></a></div>
		</div>
		
		<div class="contact_end">
			<?php echo $this->Html->image('contact.png')  ;?>
		</div>
		<div class="clear"></div>
	</body>
</html>