<meta charset="UTF-8">
<div class="content">
    <div class="sitebar">
        <div class="sitebar_item">
            <ul>
                        
                <li><a href="#">Danh muc 2</a></li>
                        
                <li><a href="#">Danh muc 1</a></li>
                
            </ul>
        </div>
        
        <div class="sitebar_item">
            <div class="lasted_title"><?php echo __('Tin nổi bật');?></div>
                <div class="lasted_top">
                    <?php foreach ($data as $value): ?>
                   
                    <div class="title">
                       <a href="">
                        <?php echo $this->Html->link($value['title'],array('controller'=>'news','action'=>'detaill', $value['title_id']));?> 
                      </a>
                    </div>
      
                    <div class="intro">
                      
                    </div>
                 
                </div>         
                <div class="lasted_item">
                     <?php endforeach; ?>
                    
                    
                </div>  
                          
        </div>
     </div>
    <div class="center">

        <div class="title_detail">
            <?php echo $news['title'];?></div>

        <p>
            <?php echo $news['content'];?>
            
        </p>
           
            <div class="other">
                <div class="other_title">
                    <a>
                        <?php echo __('Tin liên quan');?>
                    </a>
                </div>
                <ul>  
                 <?php foreach ($data as $value1): ?>                            
                    <li>   
                        <?php if ($news['title'] != $value1['title']){
                            echo $this->Html->link($value1['title'],array('controller'=>'news','action'=>'detaill', $value1['title_id']));}?> 
                        
                    </li>
                    <?php endforeach ;?>    
                </ul>
            </div>
            
    </div>
    <div class="clear"></div>
</div>