
*{
	padding:0px;
	margin:0px;
}
body{
	
	color:#7a7a7a;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:18px;
	background:#FFF;
	box-sizing:border-box;
}
html{
	
}
.clear{
	clear:both;
}
.clear_left{
	clear:left;
	height:0px;
}
.clear_right{
	clear:right;
}
.fload_left{
	float:left;
}
.fload_right{
float:right;
}
h1, h2, h3, h4, h5, h6{
	font-size:12px; 
}
img, p, ul{
	border:0px;

}
li{

	list-style-type:none;
}
ul.recruitment li {
  list-style: disc;
}
a{
	text-decoration:none;
	outline: none;
}
a:hover{
	text-decoration:none;

}
select{
	outline:none;
}
table{
	border-collapse:collapse;
}

.page{
	
	height:30px;
	float:right;
	text-align:center;
	padding-top:20px;
	
}

.page a{
	color:#222222;
	width:23px;
	height:23px;
	text-align:center;
	line-height:23px;
	background:url(../img/page_bg.jpg) no-repeat;
	float:left;
	margin-left:9px;
}
.page a:hover,.page a.active{
	background:url(../img/page_active.png) no-repeat;
	color:#fff;
}
.last_child {
	margin-right:0px!important;	
	border-right:none!important;
	border-bottom:none!important;
	background:none!important;
}


.header {
	width:100%;
	/*height:75px;
	background:url(../images/bg_header.png) repeat-x;	*/
}
.wrapper_header {
	width:1000px;
	/*height:75px;*/
	margin:0px auto;	
}
.wrapper_header a img{
	float: 	left;	
}
.logo {
	float:left;	
}
.i_slogan{
	margin: 20px 6px 0px 10px;
}
.form_search{
	background: url("../img/bg_search.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	height: 28px;
	width: 185px;
	margin: 28px 0px 0px 310px;
}
.form_search input[type=button]{
	background:url("../img/icon_search.png") no-repeat center center;
	border: medium none;
	cursor: pointer;
	float: right;
	width: 25px;
	height:25px;
	font-size:0px;
	padding: 5px 0px;
	color: #FFF;
	opacity:0.6;
	background-size:80%;
}
div#slideshow {
    width: 1000px;
    height: 314px; 
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; z-index: 5;
}

div#slideshow ul#nav {
	display: none;
	list-style: none;
	position: relative; 
    top: 140px; 
    z-index: 15;
}

div#slideshow ul#nav li#prev {
    float: left; 
}

div#slideshow ul#nav li#next {
    float: right; 
}

div#slideshow ul#nav li a {
    display: block; 
    width: 40px; 
    height: 40px; 
    text-indent: -9999px;
}

div#slideshow ul#nav li#prev a {
    background: url(../img/prev_1.png);
}

div#slideshow ul#nav li#next a {
    background: url(../img/next_1.png);
}

div#slideshow ul#slides {
    list-style: none;
}
.flag_jp{
	border:1px solid #CCC;
	box-sizing:border-box;
}
.form_search input[type=text]{
	border: none;
	padding: 2px 0px 2px 0px;
	width:140px;
	margin:1px;
	text-indent: 10px;
}

.menu_top{
	width:1000px;
	margin:0px auto;
	text-align:left;	
	background:url(../img/bg_menu1.png) left bottom repeat-x;
}
.menu_top li{
	float:left;
}
.menu_top li a{
	display: block;	
	height:36px;	
	line-height: 36px;
	color: #333333;
	font-size: 	14px;
	padding: 0px 20px;
	border-right:1px solid #c5c5c5;
}
.menu_top li a:hover,.menu_top ul .active a{
	background:url(../img/bg_menu.png) left top repeat-x;	
	color:#FFF;
}

.lang {
	float:right;
	margin-top:25px;	
	
}
.banner {
	width:1000px;
	margin:5px auto 0px auto;
}
.wrapper_banner {
	width:1000px;	
	margin:0px auto;
}
.wrapper_banner .service_slide{

	width:380px;
	left:50px;
	color:#fff;
	top:50px;
	position:absolute;
	text-align:justify;
	color:#FFF;
}
.wrapper_banner .im_slide {
	
}
.service_slide .title{
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:20px;
	font-weight:bold;
	color:#FFF;
}
.service_slide .readmore {
	margin-top:20px;
	float:right;
}
.service_slide .readmore a{
	display:block;
	padding:10px 10px;	
	background:url(../img/bg_readmore.png) repeat-x;
	width:60px;
	color:#131313;
}
.service_slide{
	color:#FFF;

}
.service_block {
	width:1000px;
	margin:0px auto 20px auto;	
	background:#F4F4F4;
	padding:5px 0px 10px 0px;
}
.service_block .service_item {
	float:left;
	width:310px;
	text-align:center;	
	padding:0px 10px;
	
	position: relative;
}
.service_block .service_item .bg_s{
	width: 310px;
	height:244px;
	background:url(../img/bg_service.png) left top no-repeat;
	position: absolute;
	top: 0px;
	left:0px;
}
.service_block .title a{
	font-size:16px;
	color:#484848;
	text-transform:uppercase;
	margin:10px 0px;
	display: block;
	background:#f4f4f4;
	font-weight:bold;
	margin-top:10px;
}
.content {
	width:1000px;
	margin:20px auto;
}
.sitebar {
	float:left;
	width:240px;
}
.sitebar_item {
	float:left;
	width:230px;
	padding:0;
	border:3px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:30px;
}
.sitebar_item ul li  {
	border-bottom:1px solid #c6c6c6;
	
}
.sitebar_item ul li:hover, .sitebar_item ul .active  {
	font-weight:bold;
}
.sitebar_item ul li a {
	color:#4d4c4c;
	text-transform:uppercase;
	font-size:14px;
	line-height:40px;
	background:url(../img/bg_item_sitebar.png) left no-repeat;
	padding-left:10px;
	display: block;
}
.sitebar_item ul li a:hover,.sitebar_item ul .active{	
	background:#CCC;

}
.lasted_title {
	text-transform:uppercase;
	font-size:18px;	
	background:url(../img/bg_other.png) left top no-repeat;
	padding-left:20px;
	border-bottom:1px solid #c6c6c6;
	padding-bottom:10px;
	margin-bottom:10px;
}
.lasted_top {
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;	
}
.lasted_top .title a{
	color:#4d4d4d;	
	font-weight:bold;
	
}
.lasted_top .im{
	float:left;
	margin-right:5px;
	margin-top:5px;
}
.lasted_top .intro{
	text-align:justify;
}
.lasted_item {
	width:100%;
	margin-top:10px;
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;	
}
.lasted_item a {
	color:#666666;
	font-size:14px;
}
.lasted_item a:hover {
	color:#666666;
	font-weight:bold;
	
}

.center {
	float: left;
	margin-left: 20px;
	text-align: justify;
	width: 739px;
}
.news_item {
	float:left;
	width:100%;
	border-bottom:1px solid #CCC;
	padding:10px 0px;
	overflow:hidden;
}
.news_item .im{
	float:left;
	margin-right:10px;
}
.news_item .im a{
	display:block;
	padding:2px;
	background:#fff;
	
}
.news_item .title a{
	color:#747474;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	
}
.news_item .title a span{
	color:#878787;
	font-style:italic;
	font-size:12px;
}
.news_item .intro{
	text-align:justify;
	margin-top:5px;
	
}
.title_detail {
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;	
	margin-bottom:20px;
}

.title_detail span {
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;	
	font-style:italic;
}
.other {
	margin-top:30px;
}
.other_title {
	width:100%;
	height:40px;	
	background:url(../img/bg_li_hover.png) repeat-x;
}
.other_title a{
	width:100%;
	height:40px;	
	background:url(../img/bg_other.png)left no-repeat;
	padding-left:20px;
	text-transform:uppercase;
	line-height:40px;
	margin-left:10px;
	color:#3f3f3f;
}
.other  ul{
	margin-top:10px;
}
.other  ul li a {
	background:url(../img/bg_item_sitebar.png)left no-repeat;
	color:#727272;
	padding-left:10px;
	line-height:25px;
}
.other  ul li a:hover {
	background:url(../img/bg_item_sitebar_hover.png)left no-repeat;
	color:#54bda8;
	padding-left:10px;
	line-height:25px;
}
.footer {
	width:1000px;
	margin:0px auto;
	height:150px;	
	background:#f4f4f4;
	margin-top: 70px;
	
}
.wrapper_footer {
	height:150px;	
	position:relative;
	margin:0px 0px;
}
.wrapper_footer .company_name {
	
	text-transform:uppercase;	
	font-size:14px;
	font-weight:bold;
	position:absolute;
	left:0px;
	margin-top:5px;
}
.logo_footer{
	width: 225px;
  	height: 60px;
}
.wrapper_footer .company_address {
	
	font-size:14px;
	position:absolute;
	left:0px;
	margin-top:25px;
}	
.wrapper_footer .social {
	position:absolute;
	right:0px;
	top:10px;	
}
.wrapper_footer .social a{
	float:left;
	margin-left:5px;
}
.wrapper_footer .design_by {
	position:absolute;
	right:0px;
	font-size:12px;
}

.p_contact{
	width: 425px;
}

.contact h1,.doitac_detail h1 {
	color: #2a668f;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.contact p {
	color: #666;
}

.contact {
	margin-top: 20px;
	width: 495px;
	float: left;
}
.contact_end{
	float: left;
  	margin-top: 80px;
  	margin-left: 40px;
}
.contact label {
	float: left;
	line-height: 24px;
	width: 95px;
	font-weight: bold;
	margin-bottom: 14px;
	color: #000;
}
.contact font{
	float:right;
	margin-right:10px;
	font-weight:normal;
	color:#999;
}
.contact label span{
	padding-left: 2px;
	color:red;
}
.required_text span{
	color:red;
	padding-right:5px;
}
.required_tex{
	margin:5px 0px;
}

.contact input[type=text],.contact input[type=name],.contact input[type=email],.contact textarea {
	border: 1px solid #CCCCCC;
	float: left;
	padding: 6px 0px;
	margin-bottom: 16px;
	display: block;
}

.contact input[type=text],.contact input[type=name],.contact input[type=email],.contact textarea {
	width: 70%;
}

.contact textarea {
	height: 85px;
}

.map {
	float: right;
	margin: 20px 0px 0px 0px;
	width: 500px;
	height: 305px;
}

.contact_info {
	float: left;
	width: 100%;
	margin-left: 10px;
	padding: 10px 0px 0px 0px;
}

.contact input.input_submit,.contact input.input_reset {
	background:#0f75bd;
	color: #FFFFFF;	
	font-weight: bold;
	margin-left: 94px;
	text-align: center;
	padding: 3px 6px;
	margin-bottom: 0px;
	cursor: pointer;
	border: none;
	border-radius:5px;
	float: left;
}

.contact input.input_reset {
	
	margin-left: 10px;
	border: none;
	color: #FFF;
}

.contact img {
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}

a.mamoi {
	float: left;
	background: url(../img/refresh.png) no-repeat left center;
	padding-left: 23px;
	color: #666666;
	margin-left: 5px;
	margin-top: 4px;
	font-size: 0px;
}
.map_style{
	width: 100%;
	height: 400px;
	margin: 20px 0px 0px 0px;
}

#primary{
	margin: 10px auto;
	width: 1000px;
}
.item-search{
	margin: 10px 0px;
	border-bottom: 1px dotted #CCC;
	padding-bottom: 10px;
}
.lang a img{
	margin:2px 2px;
}
.news_content{
	width:1000px;
	margin:0px auto;
	height: 280px;
	background-color: #eeeeee;
}
.info_content1{
	margin-left: -5px;
  	font-size: 13px;
  	margin-top: 10px;
}
.info_content2{
  	font-size: 13px;
 	margin-left: -10px;
 	margin-top: 10px;
}
.info_content4{
  	margin-left: -35px;
  	font-size: 13px;
  	margin-top: 10px;
}
.news_content ul li{
	float:left;
	margin:20px 0px;
	margin-left:105px;
}

.title_content2{
	font-size: 14px;
  	font-weight: bold;
  	
  	text-transform: uppercase;
  	margin-left: -6px;
  	margin-top:10px;
}
.title_content1{
	margin-top:10px;
	font-size: 14px;
  	font-weight: bold;
  	
  	text-transform: uppercase;
  	margin-left: -5px;
 
}
.title_content4{
	
	font-size: 14px;
  	font-weight: bold;
  	
  	text-transform: uppercase;
  	margin-left: -40px;
  	margin-top: 28px;
}
.news_content ul li a{
	display:block;
	color:#000;
	font-weight:bold;
}
.processes{
	width:1000px;
	margin:0px auto;
}
.jvb{
	width:1000px;
	margin:0px auto;
}
.case_study{
	width:1000px;
	margin:0px auto;
}
.case_info{
	background-color: #efefef;
}
.image_case1{
	float:left;
	margin-top: 20px;
	margin-left:10px;
	border: 1px solid;
}
.case{
	float: left;
	margin-top: 50px;
}
.news_case{
  	font-size: 15px;
  	font-weight: bold;
  	margin-left: 10px;  	
}
.info_case{
	
  	margin-left: 10px;
  	margin-top: 5px;
  	font-size: 13px;
  	width: 288px;
}
.info_case1{
	margin-left: 10px;
  	margin-top: 5px;
  	font-size: 13px;
  	width: 288px;
  	border: 1px solid;
}
.see_more{
	float: right;
  	margin-top: 50px;
  	margin-right: 5px;
}
.icon_see_more{
	float: right;
  	margin-top: 49px;
  	margin-right: 35px;
}
.row_casestudy{
	margin-left: 40px;
  	float: left;
}
.case2{
	float: left;
	margin-top: 50px;
	
}
.image_case2{
	float: left;
	margin-top: 40px;
	margin-left:40px;
}
.news{
	width: 640px;
	margin-left: 220px;
	float:left;
	margin-top: 50px;
}
.image_news{
	margin-top: 25px;
	margin-left:25px;
	float: left;
	
}
.title_news{
	float: left;
 	margin-top: 35px;
  	margin-left: 20px;
  	color: #585858;
 	font-size: 14px;
  	font-weight: bold;
}
.info_news{
  	float: left;
  	width: 340px;
  	margin-left: 20px;
  	margin-top: 10px;
  	
}
.recruitment{
	float: left;
	margin-left: 35px;
	margin-top: 25px;
}
.see_more1{
	float: right;
	margin-top: 80px;
}
.app1_image{
	float: left;
  	margin-left: 120px;
  	margin-top: 15px;
}
.wrapper_banner{
	background: #0a3190; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMzE5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM5OWZmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTMxOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #0a3190 0%, #399ff5 50%, #0a3190 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a3190), color-stop(50%,#399ff5), color-stop(100%,#0a3190)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #0a3190 0%,#399ff5 50%,#0a3190 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #0a3190 0%,#399ff5 50%,#0a3190 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #0a3190 0%,#399ff5 50%,#0a3190 100%); /* IE10+ */
	background: linear-gradient(to right, #0a3190 0%,#399ff5 50%,#0a3190 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3190', endColorstr='#0a3190',GradientType=1 ); /* IE6-8 */

}

.center_f{
	color:#000;
}
.wap_app_web{
	margin:0px 18px;
}
.title_web_app{
	font-size:18px;
	color:#484848;
	padding-left:8px;
	border-left:6px solid #0a318f;
}

.ls_tab{
	float:right;
	margin:-15px 6px 0 0;
	padding:1px 7px;
	color:#666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
	cursor:pointer;
}
.ls_tab.active{
	background:#CCC;
	color:#FFF;
}
.ct_d1{
	padding:12px 0px;
	border-top:1px solid #CCC;
	margin:5px 0px;
}
.left_se{
	width:571px;
	float:left;
	margin-left:18px;
}
.left_se .m_left{
	padding:10px 0px;
	border-top:1px solid #e8e7e7;
	margin-top:7px;
}
.right_se{
	width:363px;
	float:right;
	margin-right:18px;
}
.news_home .item {
	padding:8px 0px;
	border-bottom:1px dotted #CCC;
	overflow:hidden;
}
.news_home .item a img{
	float:left;
	margin-right:6px;
}
.news_home .item h3 a{
	color:#585858;
	font-size:13px;
}
.news_home .item h3 span{
	color:#999;
	font-size:12px;
}
.news_home{
	padding:7px 0px;
	border-top:1px solid #e8e7e7;
	margin-top:8px;
}
.right_se{
	margin:12px 0px 0px 0px;
}
.m_left img{
	float:left;
	margin-right:15px;
}
.m_left div{
	color:#666;
	margin:10px 0px;
	margin:65px 0px;
}