<html>
	<title></title>
	<head></head>
	<body>
		<div class="banner">
			<div class="wrapper_banner">
			    <ul class="bxslider">
			        <li>
						<!--<div class="service_slide"> -->
				            <div class="title"><?php //echo __('Phát triển ứng dụng Mobile');?></div>
				            <?php //echo __('Công ty chúng tôi cung cấp dịch vụ phát triển ứng dụng Mobile trên nền iOS và Android.<br/>Đội ngũ nhân viên của chúng tôi tư vấn và phát triển dựa trên nhu cầu thực tế của khách hàng.');?>
				           	<div class="readmore"><a href="#"><?php //echo __('Xem thêm');?></a></div>
						<!--</div> -->
			            <div class="im_slide">
			                <?php 
			                    echo $this->Html->image(__('recruitment.png'), array('class'=> 'lazy', 'alt' => 'recruitment')); 
			                ?>
			            </div>
			        </li>
			    </ul>
		    </div>
		</div>	
	</body>
</html>