<meta charset="UTF-8">
<div class="content">
    <div class="sitebar">
        <div class="sitebar_item">
            <ul>
                        
                <li><a href="#">Danh muc 2</a></li>
                        
                <li><a href="#">Danh muc 1</a></li>
                
            </ul>
        </div>
        
        <div class="sitebar_item">
            <div class="lasted_title">Tin nổi bật</div>
                    
                
                <div class="lasted_top">
                    <div class="title"><a href="#">Tuyển phiên dịch viên tiếng Nhật</a></div>
                    <div class="im"><a href="#"><img class="lazy" alt='' src='#'/></a></div>
                    <div class="intro">
                        Công ty JVB Vietnam đang có nhu cầu tuyển phiên dịch viên tiếng Nhật có trình độ tương đương N2

                    </div>
                </div>
                
                    
                
                <div class="lasted_item"><a href="#">Tuyển lập trình viên Mobile</a></div>
                
            
        </div>
     </div>
    <div class="center">
        <div class="title_detail">Tuyển phiên dịch viên tiếng Nhật - <span>17/08/14</span></div>
        <p><span style="color: #000000;">C&ocirc;ng ty JVB Vietnam đang c&oacute; nhu cầu tuyển phi&ecirc;n dịch vi&ecirc;n tiếng Nhật c&oacute; tr&igrave;nh độ tương đương N2.</span><br /><span style="color: #000000;">Xin vui l&ograve;ng li&ecirc;n hệ để biết th&ecirc;m chi tiết.</span></p>
            
            <div class="other">
                <div class="other_title"><a>Tin liên quan</a></div>
                <ul>
                            
                         <li><a href="#">Tuyển lập trình viên Mobile</a></li>
                    
                </ul>
            </div>
            
    </div>
    <div class="clear"></div>
</div>